
<!-- Toolbar -->
<md-content ng-controller="homeCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button href="#/profile" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">person_pin_circle</md-icon>
      </md-button>
      <md-button href="#/home" class="md-icon-button" aria-label="Home">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</md-content>



<section layout="row" flex>
<!--  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"> -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo">
      <h1 layout="column" layout-align="center" class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
      <ul>
        <!-- <li><md-button href="#/view1">View 1</md-button></li>
        <li><md-button href="#/view2">View 2</md-button></li> -->
        <li ng-controller="profileCtrl" ng-show="userData.uid === friller.$value" layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/admin">admin</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/profile">Profile</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn1" href="#/listing/sports">Sports</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn2" href="#/listing/family">Family</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn3" href="#/listing/nightlife">Nightlife</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn4" href="#/listing/shopping">Shopping</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn5" href="#/listing/restaurants">Restaurants</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn6" href="#/listing/volunteer">Volunteer</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn7" href="#/listing/safePlaces">Safe Places</md-button></li>
      </ul>

      <div>
      <md-button ng-click="close()" class="md-primary" ng-controller="LeftCtrl">
          Close Menu
      </md-button>
      </div>
      <p hide-md show-gt-md>
        This sidenav, use it to explore the different categories acitivities. Each event and venue will have a color associated with it and level up your pin, have fun!.
      </p>
    </md-content>
  </md-sidenav>
</section>
<!-- End Tool Bar -->

<!-- <li ng-repeat="item in listing | filter:name">{{ item | json }}</li> -->


<div layout="column" layout-align="center center">
	<h1>{{category}}</h1>
</div>
<div layout="row" layout-align="center center">
	<!-- START CARDS -->
	<md-content class="md-padding" layout-xs="column" layout-md="column" layout-lg="column" layout="row">
	<div flex layout="column" >
	<!-- <div flex layout="column" ng-repeat="item in eventplace"> -->
	<div flex-xs flex-gt-xs="50" layout="column" ng-repeat="item in eventplace">
	<md-card class="{{item.category}}" ng-show="item.category === '{{category}}'" >
	<!-- <md-card class="{{item.category}}" ng-show="item.category === '{{category}}'"> -->
		<md-card-header>
		  <md-card-avatar>
		    <img ng-show="item.type === 'place'" src="media/mapThumb.png"/>
		    <img ng-show="item.type === 'event'" src="media/calendarThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">{{item.eventName}}</span>
		    <span class="mdsubhead">{{item.area}}</span>
		  </md-card-header-text>
		</md-card-header>
		<!-- <img src="{{place.image}}" class="md-card-image" alt="Washed Out"> -->
		<img src="{{item.image}}" class="md-card-image">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">{{item.venueName}}</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			{{item.about}}
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="start center">
				<md-button href="#/detail/{{item.$id}}">View Details</md-button>
				<md-card-icon-actions>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				</md-card-icon-actions>
			</md-card-actions>
		</md-card-content>
	</md-card>
	</div>

	</md-content>



</div>


