
<!-- Toolbar -->
<md-content ng-controller="homeCtrl">
  <md-toolbar class="{{category}}">
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button href="#/profile" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">person_pin_circle</md-icon>
        <md-tooltip>Profile</md-tooltip>
      </md-button>
    </div>
  </md-toolbar>
</md-content>



<section layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo md-toolbar-tools" >
      <md-button ng-click="close()" class="md-icon-button" ng-controller="LeftCtrl">
          <md-icon class="material-icons">arrow_back</md-icon>
      </md-button><span flex></span>
      <h1 layout="column" layout-align="center center" class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding class="navi">
      <ul>
        <li ng-show="userData.uid === friller.$value" layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/admin">admin</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/profile">Profile</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn1" href="#/listing/sports">Sports</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn2" href="#/listing/family">Family</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn3" href="#/listing/nightlife">Nightlife</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn4" href="#/listing/shopping">Shopping</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn5" href="#/listing/restaurants">Restaurants</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn6" href="#/listing/volunteer">Volunteer</md-button></li>
      </ul>
      <p hide-md show-gt-md>
        This sidenav, use it to explore the different categories acitivities. Each event and venue will have a color associated with it and level up your pin, have fun!.
      </p>
    </md-content>
  </md-sidenav>
</section>
<!-- End Tool Bar -->

<!-- <li ng-repeat="item in listing | filter:name">{{ item | json }}</li> -->


<div layout="column" layout-align="center center">
	<h1>{{category}}</h1>


<md-content layout-xs="column" layout-md="column" layout-lg="column">
    <md-tabs md-dynamic-height>
   <!--  <md-tab label="one">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab One</h1>
          <p>There are nothing to show here. </p>
        </md-content>
      </md-tab> -->
      <md-tab label="places">
        <md-content class="md-padding">
          <p>Find places for {{category}}</p>
        </md-content>
        	<!-- START CARDS -->
			<md-content class="md-padding" layout-xs="column" layout-md="column" layout-lg="column" layout="row">
				<div flex layout="column" >
				<!-- <div flex layout="column" ng-repeat="item in places"> -->
				<div flex-xs flex-gt-xs="50" layout="column" ng-repeat="item in places">
				<a href="#/detail/{{item.$id}}" class="removeUnderline"><md-card class="{{item.category}}" ng-show="item.category === '{{category}}'" >
				<!-- <md-card class="{{item.category}}" ng-show="item.category === '{{category}}'"> -->
					<md-card-header>
					  <md-card-avatar>
					    <img src="media/mapThumb.png"/>
					  </md-card-avatar>
					  <md-card-header-text>
					    <span class=" mdsubhead">{{item.venueName}}</span>
					    <span class="md-title">{{item.area}}</span>
					  </md-card-header-text>
					</md-card-header>
					<!-- <img src="{{place.image}}" class="md-card-image" alt="Washed Out"> -->
					<img ng-src="{{item.image}}" class="md-card-image">
					<md-card-content>
						<p>
						{{item.about| ellipsis:150}}
						</p>
						<!-- Player Pins -->
						<md-card-actions layout="row" layout-align="start center">
							<md-button href="#/detail/{{item.$id}}">View Details</md-button>
							<md-card-icon-actions>
							<md-card-avatar aria-label="Player Pin">
								<img class="pinThumb" src="media/pinThumb.png"></img>
							</md-card-avatar>
							<md-card-avatar aria-label="Player Pin">
								<img class="pinThumb" src="media/pinThumb.png"></img>
							</md-card-avatar>
							<md-card-avatar aria-label="Player Pin">
								<img class="pinThumb" src="media/pinThumb.png"></img>
							</md-card-avatar>
							</md-card-icon-actions>
						</md-card-actions>
					</md-card-content>
				</md-card></a>
				</div>
				</div>
			</md-content>
      </md-tab>
      <md-tab label="events">
      	<md-content class="md-padding">
          <p>Find events for {{category}}</p>
        </md-content>
        	<!-- START CARDS -->
			<md-content class="md-padding" layout-xs="column" layout-md="column" layout-lg="column" layout="row">
			<div flex layout="column" >
			<!-- <div flex layout="column" ng-repeat="item in places"> -->
			<div flex-xs flex-gt-xs="50" layout="column" ng-repeat="item in events">
			<a href="#/detail/{{item.$id}}" class="removeUnderline"><md-card class="{{item.category}}" ng-show="item.category === '{{category}}'" >
			<!-- <md-card class="{{item.category}}" ng-show="item.category === '{{category}}'"> -->
				<md-card-header>
				  <md-card-avatar>
				    <img src="media/calendarThumb.png"/>
				  </md-card-avatar>
				  <md-card-header-text>
				  	<span class=" mdsubhead">{{item.eventName}}</span>
					<span class="md-title">{{item.area}}</span>
				  </md-card-header-text>
				</md-card-header>
				<!-- <img src="{{place.image}}" class="md-card-image" alt="Washed Out"> -->
				<img ng-src="{{item.image}}" class="md-card-image">
				<md-card-content>
					<p>
					{{item.about| ellipsis:150}}
					</p>
					<!-- Player Pins -->
					<md-card-actions layout="row" layout-align="start center">
						<md-button href="#/detail/{{item.$id}}">View Details</md-button>
						<md-card-icon-actions>
						<md-card-avatar aria-label="Player Pin">
							<img class="pinThumb" src="media/pinThumb.png"></img>
						</md-card-avatar>
						<md-card-avatar aria-label="Player Pin">
							<img class="pinThumb" src="media/pinThumb.png"></img>
						</md-card-avatar>
						<md-card-avatar aria-label="Player Pin">
							<img class="pinThumb" src="media/pinThumb.png"></img>
						</md-card-avatar>
						</md-card-icon-actions>
					</md-card-actions>
				</md-card-content>
			</md-card></a>
			</div>

			</md-content>
      </md-tab>
    </md-tabs>
  </md-content>




</div>



