
<!-- Toolbar -->
<md-content ng-controller="homeCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button href="#/profile" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">person_pin_circle</md-icon>
      </md-button>
      <md-button href="#/home" class="md-icon-button" aria-label="Home">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
      <!-- <md-button ng-controller="loginCtrl" ng-hide="userData" href="#/login" aria-label="signin">
        Sign In | Sign Up
      </md-button> -->
    </div>
  </md-toolbar>
</md-content>



<section layout="row" flex>
<!--  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"> -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo">
      <h1 layout="column" layout-align="center" class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
      <ul>
        <li ng-controller="profileCtrl" ng-show="userData.uid === friller.$value" layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/admin">admin</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/profile">Profile</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn1" href="#/listing/sports">Sports</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn2" href="#/listing/family">Family</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn3" href="#/listing/nightlife">Nightlife</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn4" href="#/listing/shopping">Shopping</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn5" href="#/listing/restaurants">Restaurants</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn6" href="#/listing/volunteer">Volunteer</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn7" href="#/listing/safePlaces">Safe Places</md-button></li>
      </ul>

      <div>
      <md-button ng-click="close()" class="md-primary" ng-controller="LeftCtrl">
          Close Menu
      </md-button>
      </div>
      <p hide-md show-gt-md>
        This sidenav, use it to explore the different categories acitivities. Each event and venue will have a color associated with it and level up your pin, have fun!.
      </p>
    </md-content>
  </md-sidenav>
</section>
<!-- End Tool Bar -->

<!-- <li ng-controller="profileCtrl" ng-repeat="item in admin | filter:name">{{ item | json }}</li> -->

    <!-- <md-content >
      <h2>{{currentDetail}}</h2>
    </md-content> -->

<md-content layout="row" layout-align="center center">
<md-content flex layout-padding ng-repeat="item in eventplace" ng-show="currentDetail === item.$id" id="detailThing">
	<h1 layout="column" layout-align="center center">{{item.eventName}}</h1>
	<img layout="column" layout-align="center center" src="{{item.image}}">

<div layout="row">
  <div flex>
    <h2>{{item.venueName}}</h2><br>
      <md-button href="https://maps.google.com?saddr=Current+Location&daddr={{item.address}}">
    Get Directions
  </md-button>
  <md-button ng-hide="hours" ng-click="hours=true" href="">
    Show Hours
  </md-button>
  <md-button ng-show="hours" ng-click="hours=false" href="">
    Hide Hours
  </md-button>
   <p>
  </div>
	<div flex>
	<form ng-submit="newCheckIn()" ng-controller="profileCtrl" ng-show="item.type === 'place'">
		<md-content layout="row" layout-align="end center">
			<md-content aria-label="Player Pin">
				<img class="pinThumbCheckIn" src="media/pin.png"></img>
			</md-content>
		</md-content>
		<div layout="" layout-sm="column" ng-hide="false">
      <md-input-container flex="">
        <label>category</label>
        <input name="category"  ng-model="newCategory.category" ng-init="newCategory.category=item.category" ></input>
      </md-input-container>
      <md-input-container flex="">
        <label>points</label>
        <input name="points" ng-model="newPoints.points" ng-init="newPoints.points=item.points"></input>
      </md-input-container>
      <md-input-container flex="">
        <label>user</label>
        <input name="user" ng-model="newUser.user" ng-init="newUser.user=currentUser"></input>
      </md-input-container>
      <md-input-container flex="" ng-repeat="item in player_pin" ng-show="currentUser === item.user">
        <label>player pin</label>
        <input name="user" ng-model="newPlayerPin.pin" ng-init="newPlayerPin.pin=item.$id"></input>
        <!-- <input name="user" ng-model="newPlayerPin.pin" ng-init="newPlayerPin.pin=pins[item.$id].label"></input> -->
      </md-input-container>
      <md-input-container flex="">
        <label>place/event</label>
        <input name="venue" ng-model="currentDetail" ng-init="newVenue.venue=currentDetail"></input>
      </md-input-container>
		</div>
		<md-content layout="row" layout-align="end center" ng-show="item.type === 'place'">
			<md-button type="submit" class="checkIn">Check In</md-button>
		</md-content>
	</form>

  <form ng-submit="newRSVP()" ng-controller="profileCtrl" ng-show="item.type === 'event'">
    <md-content layout="row" layout-align="end center">
      <md-content aria-label="Player Pin">
        <img class="pinThumbCheckIn" src="media/pin.png"></img>
      </md-content>
    </md-content>
    <div layout="" layout-sm="column" ng-hide="false">
      <md-input-container flex="">
        <label>category</label>
        <input name="category"  ng-model="newCategory.category" ng-init="newCategory.category=item.category" ></input>
      </md-input-container>
      <md-input-container flex="">
        <label>points</label>
        <input name="points" ng-model="newPoints.points" ng-init="newPoints.points=item.points"></input>
      </md-input-container>
      <md-input-container flex="">
        <label>user</label>
        <input name="user" ng-model="newUser.user" ng-init="newUser.user=currentUser"></input>
      </md-input-container>
      <md-input-container flex="" ng-repeat="item in player_pins" ng-show="userData.uid === item.user">
        <label>player pin</label>
        <input name="user" ng-model="newPlayerPin.pin" ng-init="newPlayerPin.pin=pins[item.$id].label"></input>
      </md-input-container>
      <md-input-container flex="">
        <label>place/event</label>
        <input name="venue" ng-model="currentDetail" ng-init="newVenue.venue=currentDetail"></input>
      </md-input-container>
    </div>
    <md-content layout="row" layout-align="end center" ng-show="item.type === 'place'">
      <md-button type="submit" class="checkIn">Check In</md-button>
    </md-content>
    <md-content layout="row" layout-align="end center" ng-show="item.type === 'event'">
      <md-button type="submit" class="checkIn">RSVP</md-button>
    </md-content>
  </form>
	</div>
</div>

  <br>

    <div>
      <strong ng-show="hours">Monday</strong><em ng-show="hours">{{item.monday}}</em><br ng-show="hours">
      <strong ng-show="hours">Tuesday</strong><em ng-show="hours">{{item.tuesday}}</em><br ng-show="hours">
      <strong ng-show="hours">Wednesday</strong><em ng-show="hours">{{item.wednesday}}</em><br ng-show="hours">
      <strong ng-show="hours">Thursday</strong><em ng-show="hours">{{item.thursday}}</em><br ng-show="hours">
      <strong ng-show="hours">Friday</strong><em ng-show="hours">{{item.friday}}</em><br ng-show="hours">
      <strong ng-show="hours">Saturday</strong><em ng-show="hours">{{item.saturday}}</em><br ng-show="hours">
      <strong ng-show="hours">Sunday</strong><em ng-show="hours">{{item.sunday}}</em><br ng-show="hours">
      <strong>Contact</strong> {{item.contact}}<br>
      <strong>Address</strong> {{item.address}}<br>
    </div>
    <p>
  		<strong>About</strong><br>
  		{{item.about}}
  	</p>


        <md-list ng-controller="profileCtrl">
          <!-- NG-SHOW WILL ONLY SHOW CHECKIN WITH AN USERID THAT MATCH THE USERID OF THE CHECKIN -->
          <md-list-item ng-show="currentDetail === item.venue" ng-repeat="item in checkIn" class="md-3-line" >
            <img ng-src="{{users[item.user].profilePic}}" alt="{{item.who}}" class="md-avatar">
            <div class="md-list-item-text">
              <h3>{{users[item.user].userName}}</h3>
              <p>
              category is {{item.category}}<br>
              points for pin {{item.points}}<br>
              user is {{item.user}}<br>
              pin id {{item.$id}}<br>
              venue is {{item.venue}}<br>
              pin is {{item.pin}}<br>
              </p>
              <img ng-show="item.pin === 'Lipstick'" class="thumb" src="media/lipstick.png">
              <img ng-show="item.pin === 'Chapstick'" class="thumb" src="media/chapstick.png">
              <img ng-show="item.pin === 'Diesel'" class="thumb" src="media/diesel.png">
              <img ng-show="item.pin === 'Twink'" class="thumb" src="media/twink.png">
              <img ng-show="item.pin === 'Bear'" class="thumb" src="media/bear.png">
              <img ng-show="item.pin === 'Otter'" class="thumb" src="media/otter.png">
            </div>
          </md-list-item>
        </md-list>




</md-content>
</md-content>



