<div  layout-align="center center">
  <md-button href="#/home" class="md-icon-button" aria-label="back">
    <md-icon class="material-icons">arrow_back</md-icon>
  </md-button>


    <h1 layout="row" layout-sm="column" layout-align="center center" layout-wrap="">Sign In | Sign Up</h1>
    <p layout="row" layout-sm="column" layout-align="center center" layout-wrap="">You can Sign In or Sign Up with your social account.</p>
  	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
    <md-button style="color: #D50F25;" ng-href="#/profile" ng-click="loginGoogle()">Google</md-button>
    <!-- <md-button style="color: #3b5998;" ng-href="account" ng-click="loginFacebook()">facebook</md-button> -->
    <md-button style="color: #55acee;" ng-href="#/profile" ng-click="loginTwitter()">twitter</md-button>
  </section>

</div>