/* app css stylesheet */
.mdsubhead {
    color: white;
}

/*.thumb{
  width: 100px;
  margin: 0 auto;
  padding-top: 50px;
}*/

.thumb{
  width: 100px;
  margin: 0 auto;
  padding-top: 50px;
}

img{
  min-height: 0;
}
.nightlife{
  background-color: #FFBB11;
  color: white; 
}

.family{
  background-color: #FF4400;
  color: white; 
}

.restaurants{
  background-color: #04048E;
  color: white; 
}

.safePlaces{
  background-color: #ED1E79;
  color: white; 
}

.shopping{
  background-color: #55AA00;
  color: white; 
}

.sports{
  background-color: #AA1100;
  color: white; 
}

.volunteer{
  background-color: #310062;
  color: white; 
}

.pinThumb{
  padding-left: 10px;
  max-width: 50px
}


.pinThumbCheckIn{
  margin-right: 20px;
  max-width: 50px
}

h1,h2{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: center;
  text-transform: uppercase;
}

h4, h3{
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

#view1{
  background-color: red; 
}

#view2{
  background-color: blue; 
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


#btn0{
  font-weight: 900;
}

#btn1{
  color: #AA1100;
  font-weight: 900;
}

#btn2{
  color: #FF4400;
  font-weight: 900;
}

#btn3{
  color: #FFBB11;
  font-weight: 900;
}

#btn4{
  color: #55AA00;
  font-weight: 900;
}

#btn5{
  color: #04048E;
  font-weight: 900;
}

#btn6{
  color: #310062;
  font-weight: 900;
}

#btn7{
  color: #ED1E79;
  font-weight: 900;
}

.checkIn{
/*  color: white;
  background-color: #FFBB11;*/
  font-weight: 900;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btnsafePlaces{
  color: white;
  background-color: green;
  font-weight: 900;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btnnightlife{
  color: white;
  background-color: red;
  font-weight: 900;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}


.checked-In{
  color: #FFBB11;
  font-weight: 900;
  border:solid;
}

md-card>:not(md-card-content) img, md-card>img {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  height: 100% !important;
  min-height: 0;
}

md-card{
  max-width: 400px;
}

#detailThing{
  max-width: 800px;
}

img {
  max-width: 100%;
}

.address{
  margin-top: 16px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.contact{
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.directions{
  text-decoration: none;
  color: #ED1E79;
  text-transform: uppercase;
}

#imagecontainer{ 
  background: url(media/emberoptimized.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*  color: white;*/
}

#cardcontent{
  color: white;
  background-color: transparent;
}

.fillerContent{
  color: white;
  /*margin: 0 50px 0 50px ;*/
  max-width: 400px;
}

.header{
  margin-bottom: 300px;
}

.header3{
  margin-bottom: 350px;
}

.headertext{
  text-decoration: none;
  color: #ED1E79;
  text-transform: uppercase;
  font-weight: 900;
}

.cardaction{
  font-weight: 900;
}

.landingcard{
  margin-top: 100px;
  margin-bottom: 100px;
}
.content{
  background-color: transparent;
}


.removeUnderline{
  text-decoration: none;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) { 
    /* styles for Retina-type displays */
}


