<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TGA</title>
  <meta name="description" content="An Orlando city guide for the LGBT">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,300,900' rel='stylesheet' type='text/css'>
</head>
<body>
    





  <!-- Toolbar -->
<md-content ng-controller="View1Ctrl">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">favorite</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="More">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</md-content>



<section layout="row" flex>
<!--  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"> -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding >
      <ul>
        <li><md-button href="#/view1">View 1</md-button></li>
        <li><md-button href="#/view2">View 2</md-button></li>
        <li><md-button href="#/profile">Profile</md-button></li>
        <li><md-button href="#/sports">Sports</md-button></li>
        <li><md-button href="#/family">Family</md-button></li>
        <li><md-button href="#/nightlife">Nightlife</md-button></li>
        <li><md-button href="#/shopping">Shopping</md-button></li>
        <li><md-button href="#/restaurants">Restaurants</md-button></li>
        <li><md-button href="#/volunteer">Volunteer</md-button></li>
        <li><md-button href="#/safePlaces">Safe Places</md-button></li>
      </ul>

<!--       <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button> -->
      <p hide-md show-gt-md>
        This sidenav is locked open on your device. To go back to the default behavior,
        narrow your display.
      </p>
    </md-content>
  </md-sidenav>
<!--   <md-content flex layout-padding>
    <div layout="column" layout-fill layout-align="top center">
      <p>
      The left sidenav will 'lock open' on a medium (>=960px wide) device.
      </p>
      <p>
      The right sidenav will focus on a specific child element.
      </p>
      <div>
        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
        <md-button ng-click="toggleLeft()" class="md-primary">
          Toggle left
        </md-button>
      </div>
      <div>
        <md-button ng-click="toggleRight()"
          ng-hide="isOpenRight()"
          class="md-primary">
          Toggle right
        </md-button>
      </div>
    </div>
    <div flex></div>
  </md-content> -->
</section>

<!--   <h1> Hello World </h1>

  <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <div>Angular seed app: v<span app-version></span></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="views/profile/profile.js"></script>
  <script src="views/sports/sports.js"></script>
  <script src="views/family/family.js"></script>
  <script src="views/nightlife/nightlife.js"></script>
  <script src="views/shopping/shopping.js"></script>
  <script src="views/profile/profile.js"></script>
  <script src="views/restaurants/restaurants.js"></script>
  <script src="views/volunteer/volunteer.js"></script>
  <script src="views/safePlaces/safePlaces.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>

  <!-- Angular Material -->
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>




</body>
</html>
