<div layout="column" layout-align="center center">
	<h1>Family</h1>

<div>
<!-- START CARDS -->
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
	<md-card class="family">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/calendarThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Sunday Funday</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/ember.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Ember</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Ember is reminiscent of the easy-going social taverns seen all over Europe and the Mediterranean. Open air seating. Drinks. Delicious menu options. Ember is a cared for environment where you can gather for an evening and get lost in the experience.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>

	<md-card class="family">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/mapThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Rooftop Bar</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/latitude.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Latitudes</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Latitudes is Orlando’s largest roof top bar situated high above historic Church Street in downtown.  The relaxing and tropical atmosphere makes Latitudes the perfect place to party year round in Orlando.  The large wooden planks that make the floor of Latitudes and the lush tropical plants situated throughout give the venue a tropical atmosphere.  The walls of Latitudes are comprised of the tall buildings that surround it and the roof is the beautiful Central Florida sky.   Latitudes is well known as Orlando’s venue for classic alternative, Top 40 and party songs.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>
</div>

<div flex-xs flex-gt-xs="50" layout="column">
	<md-card class="family">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/calendarThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Sunday Funday</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/ember.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Ember</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Ember is reminiscent of the easy-going social taverns seen all over Europe and the Mediterranean. Open air seating. Drinks. Delicious menu options. Ember is a cared for environment where you can gather for an evening and get lost in the experience.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>

	<md-card class="family">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/mapThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Rooftop Bar</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/latitude.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Latitudes</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Latitudes is Orlando’s largest roof top bar situated high above historic Church Street in downtown.  The relaxing and tropical atmosphere makes Latitudes the perfect place to party year round in Orlando.  The large wooden planks that make the floor of Latitudes and the lush tropical plants situated throughout give the venue a tropical atmosphere.  The walls of Latitudes are comprised of the tall buildings that surround it and the roof is the beautiful Central Florida sky.   Latitudes is well known as Orlando’s venue for classic alternative, Top 40 and party songs.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>
<!-- END CARDS -->
</div>





</div>

