<div layout="column" layout-align="center center">
	<h1>Profile</h1>

	<md-content class="md-padding" layout-xs="column" layout="row">

<!-- Profile Card -->
      <md-card>
        <img class="thumb" src="media/pin.png">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Player Pin</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            This is your player pin, it levels up with each place that you check in at as well as the events you RSVP. 
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Explore</md-button>
        </md-card-actions>
      </md-card>

<!-- Events Card -->
      <md-card>
        <img class="thumb" src="media/calendar.png">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Events</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            You have no RSVP! When you RSVP an event, it will be added here and organized by the most recent event.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Explore</md-button>
        </md-card-actions>
      </md-card>

<!-- Places Card -->
      <md-card>
        <img class="thumb" src="media/map.png">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Places</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            You have not checked in at any places yet! Any places that you check in will show up here, so you can revisit them later.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Explore</md-button>
        </md-card-actions>
      </md-card>

	</md-content>


</div>