
<!-- Toolbar -->
<md-content ng-controller="homeCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button href="#/profile" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">person_pin_circle</md-icon>
      </md-button>
      <md-button href="#/home" class="md-icon-button" aria-label="Home">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
      <!-- <md-button ng-controller="loginCtrl" ng-hide="userData" href="#/login" aria-label="signin">
        Sign In | Sign Up
      </md-button> -->
    </div>
  </md-toolbar>
</md-content>



<section layout="row" flex>
<!--  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"> -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo">
      <h1 layout="column" layout-align="center" class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
      <ul>
        <!-- <li><md-button href="#/view1">View 1</md-button></li>
        <li><md-button href="#/view2">View 2</md-button></li> -->
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/admin">admin</md-button></li>
        <!-- <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/listing">listing</md-button></li> -->
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/profile">Profile</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn1" href="#/listing/sports">Sports</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn2" href="#/listing/family">Family</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn3" href="#/listing/nightlife">Nightlife</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn4" href="#/listing/shopping">Shopping</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn5" href="#/listing/restaurants">Restaurants</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn6" href="#/listing/volunteer">Volunteer</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn7" href="#/listing/safePlaces">Safe Places</md-button></li>
      </ul>

<!--       <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button> -->
      <div>
      <md-button ng-click="close()" class="md-primary" ng-controller="LeftCtrl">
          Close Menu
      </md-button>
      </div>
      <p hide-md show-gt-md>
        This sidenav, use it to explore the different categories acitivities. Each event and venue will have a color associated with it and level up your pin, have fun!.
      </p>
    </md-content>
  </md-sidenav>
</section>

<div layout="column" layout-align="center center" ng-controller="loginCtrl" ng-show="userData">
  <h1>Hello {{userData.google.displayName}}</h1>
      <md-button class="md-icon-button">
        <a ng-href="#/home" ng-click="logout()"><md-icon class="material-icons">exit_to_app</md-icon></a>
        <md-tooltip>Sign Out</md-tooltip>
      </md-button>
	<md-content class="md-padding" layout-xs="column" layout="row">

<!-- Profile Card -->
      <md-card>
        <img class="thumb" src="media/pin.png">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Player Pin</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            This is your player pin, it levels up with each place that you check in at as well as the events you RSVP. 
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-controller="homeCtrl" ng-click="toggleLeft()">Explore</md-button>
        </md-card-actions>
      </md-card>

<!-- Events Card -->
      <md-card>
        <img class="thumb" src="media/calendar.png">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Events</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            You have no RSVP! When you RSVP an event, it will be added here and organized by the most recent event.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-controller="homeCtrl" ng-click="toggleLeft()">Explore</md-button>
        </md-card-actions>
      </md-card>

<!-- Places Card -->
      <md-card>
        <img class="thumb" src="media/map.png">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Places</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            You have not checked in at any places yet! Any places that you check in will show up here, so you can revisit them later.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-controller="homeCtrl" ng-click="toggleLeft()">Explore</md-button>
        </md-card-actions>
      </md-card>

	</md-content>


</div>