
<!-- Toolbar -->
<md-content ng-controller="homeCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button href="#/profile" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">person_pin_circle</md-icon>
      </md-button>
      <md-button href="#/home" class="md-icon-button" aria-label="Home">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</md-content>



<section layout="row">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo">
      <h1 layout="column" layout-align="center" class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
      <ul>
        <li ng-show="userData.uid === friller.$value" layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/admin">admin</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/profile">Profile</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn1" href="#/listing/sports">Sports</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn2" href="#/listing/family">Family</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn3" href="#/listing/nightlife">Nightlife</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn4" href="#/listing/shopping">Shopping</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn5" href="#/listing/restaurants">Restaurants</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn6" href="#/listing/volunteer">Volunteer</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn7" href="#/listing/safePlaces">Safe Places</md-button></li>
      </ul>

      <div>
      <md-button ng-click="close()" class="md-primary" ng-controller="LeftCtrl">
          Close Menu
      </md-button>
      </div>
      <p hide-md show-gt-md>
        This sidenav, use it to explore the different categories acitivities. Each event and venue will have a color associated with it and level up your pin, have fun!.
      </p>
    </md-content>
  </md-sidenav>
</section>

    <md-card-content>


      <!-- <md-button class="md-icon-button">
        <a ng-click="show()">hi</a>
      </md-button>
      <pre>{{ friller | json }}</pre> -->
      <!-- <li ng-repeat="item in theAdmin | filter:name">{{ item | json }}</li> -->

      <!-- IMPORTANT! THIS FORM DOESNT WORK INSIDE A CHILD ELEMENT SO DOESNT WORK INSIDE THE CARDS BELOW -->
      <!-- BECAUSE ANGULAR DOENS'T RECOGNIZE $SCOPE INSIDE CHILD ELEMENTS -->
      <li ng-repeat="item in checkIn | filter:name">{{ item | json }}</li>
      <h2 class="md-title">Currently Checked in at</h2>
      <form ng-submit="newPlayerPin()">
        <md-input-container>
            <label>Pick a label</label>
            <md-select ng-model="newlabel.label">
              <md-option ng-repeat="label in labels" value="{{label}}">{{label}}</md-option>
            </md-select>
        </md-input-container>
          <md-button type="submit">save</md-button>
      </form>
      <md-content flex=""> 
        <md-list >
          <!-- NG-SHOW WILL ONLY SHOW CHECKIN WITH AN USERID THAT MATCH THE USERID OF THE CHECKIN -->
          <md-list-item ng-show="userData.uid === item.user" ng-repeat="item in checkIn" class="md-3-line" >
            <img ng-src="{{users[item.user].profilePic}}" alt="{{item.who}}" class="md-avatar">
            <div class="md-list-item-text">
          <h3>{{users[item.user].userName}}</h3>
          <p>
          {{item.category}}<br>
          {{item.points}}<br>
          {{item.user}}<br>
          {{item.$id}}<br>
          </p>
            </div>
          </md-list-item>
        </md-list>
      </md-content> 



<div layout="column" layout-align="center center" ng-controller="loginCtrl" ng-show="userData" flex="none">
  <h1>{{userData.google.displayName}}</h1>
  <h1>{{userData.twitter.displayName}}</h1>

      <md-button class="md-icon-button">
        <a ng-href="#/home" ng-click="logout()"><md-icon class="material-icons">exit_to_app</md-icon></a>
        <md-tooltip>Sign Out</md-tooltip>
      </md-button>
<md-content class="md-padding" layout-xs="column" layout="row" flex="none">
<div flex-xs="none" flex-gt-xs="50" layout="column">
<!-- Profile Card -->
      <md-card>
        <img ng-hide="newlabel.label" class="thumb" src="media/pin.png">
        <img ng-show="newlabel.label === 'Lipstick'" class="thumb" src="media/lipstick.png">
        <img ng-show="newlabel.label === 'Chapstick'" class="thumb" src="media/chapstick.png">
        <img ng-show="newlabel.label === 'Diesel'" class="thumb" src="media/diesel.png">
        <img ng-show="newlabel.label === 'Twink'" class="thumb" src="media/twink.png">
        <img ng-show="newlabel.label === 'Bear'" class="thumb" src="media/bear.png">
        <img ng-show="newlabel.label === 'Otter'" class="thumb" src="media/otter.png">

        <md-card-title flex="none">
          <md-card-title-text>
            <span class="md-headline" ng-hide="label">This is your player pin.</span>
            <span class="md-headline" ng-show="label">You are a {{label}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content flex="none">
          <p ng-hide="newlabel.label">
            What label do you self identify with? Player pins will help you to tell what kind of crowd a place or event attracts.
          </p>
          <p ng-show="newlabel.label === 'Diesel'" >
            A Diesel is a very butch or manly lesbian, especially one who is very aggressive. In some lesbian circles Diesel refers to a very butch Big-Rig (or other heavy equipment) driving lesbian. 
          </p>
          <p ng-show="newlabel.label === 'Chapstick'">
            A chapstick lesbian is also known as a soft butch or androgynous. She usually dresses quite casually and does not wear make-up. The term Chapstick Lesbian was popularized after an episode of the TV show Ellen.  
          </p>
          <p ng-show="newlabel.label === 'Lipstick'">
            A lipstick lesbian is a woman who loves other women, but also loves her clothes and makeup and shoes. She tends to dress on the femmy side. Also known as Femme or Fem.
          </p>
          <p ng-show="newlabel.label === 'Twink'">
            Twinks are generally quite young, skinny, have essentially no body hair. Generally, they act as though the entire world revolves around the fact that they are young and gay.  
          </p>
          <p ng-show="newlabel.label === 'Bear'">
            The Bear is the polar opposite of the Twink. Bears are large and in charge, wouldn’t dream of shaving ANY of their body hair. Large and jovial, these beasts range from muscle-daddy to Sumo wrestler, are generally a little older and are usually some of the nicest guys you’ll ever meet.  
          </p>
          <p ng-show="newlabel.label === 'Otter'">
            The Otter a sub-category of Bears. Otters are skinnier, but still rock the full-out body hair. They will usually be short-ish and although skinnier than bears, they usually still have round-ish features.  
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" flex="none">
          <form ng-submit="newPlayerPoints()">
            <md-input-container>
                <label>Pick a label</label>
                <md-select ng-model="newPoints.points">
                  <md-option ng-repeat="point in points" value="{{point}}">{{point}}</md-option>
                </md-select>
                <!-- <md-select ng-model="newlabel.label">
                  <md-option ng-repeat="label in labels" value="{{label}}">{{label}}</md-option>
                </md-select> -->
            </md-input-container>
            <md-button type="submit">save</md-button>
          </form>
        </md-card-actions>
      </md-card>
</div>
<div flex-xs="none" flex-gt-xs="50" layout="column">
<!-- Profile Card -->
      <md-card>
        <img class="thumb" src="media/pin.png">
        <md-card-title flex="none">
          <md-card-title-text>
            <span class="md-headline">Player Pin</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content flex="none">
          <p>
            This is your player pin, it levels up with each place that you check in at as well as the events you RSVP. 
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" flex="none">
          <md-button ng-controller="homeCtrl" ng-click="toggleLeft()">Explore</md-button>
        </md-card-actions>
      </md-card>
</div>
<!-- Events Card -->
<div flex-xs="none" flex-gt-xs="50" layout="column">
      <md-card>
        <img class="thumb" src="media/calendar.png">
        <md-card-title flex="none">
          <md-card-title-text>
            <span class="md-headline">Events</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content flex="none">
          <p>
            You have no RSVP! When you RSVP an event, it will be added here and organized by the most recent event.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center" flex="none">
          <md-button ng-controller="homeCtrl" ng-click="toggleLeft()">Explore</md-button>
        </md-card-actions>
      </md-card>
</div>
<!-- Places Card -->
<div flex-xs="none" flex-gt-xs="50" layout="column">
      <md-card>
        <img class="thumb" src="media/map.png">
        <md-card-title flex="none">
          <md-card-title-text>
            <span class="md-headline">Places</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            You have not checked in at any places yet! Any places that you check in will show up here, so you can revisit them later.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ng-controller="homeCtrl" ng-click="toggleLeft()">Explore</md-button>
        </md-card-actions>
      </md-card>

	</md-content>
</div>

</div>




