<!-- Start Toolbar -->
<md-content ng-controller="homeCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button href="#/profile" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">person_pin_circle</md-icon>
      </md-button>
      <md-button href="#/home" class="md-icon-button" aria-label="Home">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</md-content>



<section layout="row" flex>
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo">
      <h1 layout="column" layout-align="center" class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
      <ul>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/profile">Profile</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn1" href="#/sports">Sports</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn2" href="#/family">Family</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn3" href="#/nightlife">Nightlife</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn4" href="#/shopping">Shopping</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn5" href="#/restaurants">Restaurants</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn6" href="#/volunteer">Volunteer</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn7" href="#/safePlaces">Safe Places</md-button></li>
      </ul>

      <div>
      <md-button ng-click="close()" class="md-primary" ng-controller="LeftCtrl">
          Close Menu
      </md-button>
      </div>
      <p hide-md show-gt-md>
        This sidenav, use it to explore the different categories acitivities. Each event and venue will have a color associated with it and level up your pin, have fun!.
      </p>
    </md-content>
  </md-sidenav>
</section>
<!-- End Tool Bar -->


<div layout="column" layout-align="center center">
	<h1> Safe Places </h1>

<div>
	<!-- START CARDS -->
  <md-content class="md-padding" layout-xs="column" layout="row">
    <div flex-xs flex-gt-xs="50" layout="column">
	<md-card class="safePlaces">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/calendarThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Sunday Funday</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/ember.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Ember</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Ember is reminiscent of the easy-going social taverns seen all over Europe and the Mediterranean. Open air seating. Drinks. Delicious menu options. Ember is a cared for environment where you can gather for an evening and get lost in the experience.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>

	<md-card class="safePlaces">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/mapThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Rooftop Bar</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/latitude.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Latitudes</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Latitudes is Orlando’s largest roof top bar situated high above historic Church Street in downtown.  The relaxing and tropical atmosphere makes Latitudes the perfect place to party year round in Orlando.  The large wooden planks that make the floor of Latitudes and the lush tropical plants situated throughout give the venue a tropical atmosphere.  The walls of Latitudes are comprised of the tall buildings that surround it and the roof is the beautiful Central Florida sky.   Latitudes is well known as Orlando’s venue for classic alternative, Top 40 and party songs.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>
</div>

<div flex-xs flex-gt-xs="50" layout="column">
	<md-card class="safePlaces">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/calendarThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Sunday Funday</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/ember.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Ember</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Ember is reminiscent of the easy-going social taverns seen all over Europe and the Mediterranean. Open air seating. Drinks. Delicious menu options. Ember is a cared for environment where you can gather for an evening and get lost in the experience.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>

	<md-card class="safePlaces">
		<md-card-header>
		  <md-card-avatar>
		    <img src="media/mapThumb.png"/>
		  </md-card-avatar>
		  <md-card-header-text>
		    <span class="md-title">Rooftop Bar</span>
		    <span class="md-subhead">Downtown</span>
		  </md-card-header-text>
		</md-card-header>
		<img src="media/latitude.png" class="md-card-image" alt="Washed Out">
		<md-card-title>
		  <md-card-title-text>
		    <span class="md-headline">Latitudes</span>
		  </md-card-title-text>
		</md-card-title>
		<md-card-content>
			<p>
			Latitudes is Orlando’s largest roof top bar situated high above historic Church Street in downtown.  The relaxing and tropical atmosphere makes Latitudes the perfect place to party year round in Orlando.  The large wooden planks that make the floor of Latitudes and the lush tropical plants situated throughout give the venue a tropical atmosphere.  The walls of Latitudes are comprised of the tall buildings that surround it and the roof is the beautiful Central Florida sky.   Latitudes is well known as Orlando’s venue for classic alternative, Top 40 and party songs.
			</p>
			<!-- Player Pins -->
			<md-card-actions layout="row" layout-align="end center">
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
				<md-card-avatar aria-label="Player Pin">
					<img class="pinThumb" src="media/pinThumb.png"></img>
				</md-card-avatar>
			</md-card-actions>
		</md-card-content>
	</md-card>
<!-- END CARDS -->
</div>





</div>

