
<!-- Toolbar -->
<md-content ng-controller="homeCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools" >
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h2>
        <span>The Gay Agenda</span>
      </h2>
      <span flex></span>
      <md-button href="#/profile" class="md-icon-button" aria-label="Favorite">
        <md-icon class="material-icons">person_pin_circle</md-icon>
      </md-button>
      <md-button href="#/home" class="md-icon-button" aria-label="Home">
        <md-icon class="material-icons">home</md-icon>
      </md-button>
      <!-- <md-button ng-controller="loginCtrl" ng-hide="userData" href="#/login" aria-label="signin">
        Sign In | Sign Up
      </md-button> -->
    </div>
  </md-toolbar>
</md-content>



<section layout="row" flex>
<!--  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')"> -->
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="">
    <md-toolbar class="md-theme-indigo">
      <h1 layout="column" layout-align="center" class="md-toolbar-tools">Menu</h1>
    </md-toolbar>
    <md-content layout-padding>
      <ul>
        <!-- <li><md-button href="#/view1">View 1</md-button></li>
        <li><md-button href="#/view2">View 2</md-button></li> -->
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/admin">admin</md-button></li>
        <!-- <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/listing">listing</md-button></li> -->
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn0" href="#/profile">Profile</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn1" href="#/listing/sports">Sports</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn2" href="#/listing/family">Family</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn3" href="#/listing/nightlife">Nightlife</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn4" href="#/listing/shopping">Shopping</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn5" href="#/listing/restaurants">Restaurants</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn6" href="#/listing/volunteer">Volunteer</md-button></li>
        <li layout="column" layout-align="center"><md-button ng-click="close()" id="btn7" href="#/listing/safePlaces">Safe Places</md-button></li>
      </ul>

<!--       <md-button ng-click="close()" class="md-primary" hide-gt-md>
        Close Sidenav Left
      </md-button> -->
      <div>
      <md-button ng-click="close()" class="md-primary" ng-controller="LeftCtrl">
          Close Menu
      </md-button>
      </div>
      <p hide-md show-gt-md>
        This sidenav, use it to explore the different categories acitivities. Each event and venue will have a color associated with it and level up your pin, have fun!.
      </p>
    </md-content>
  </md-sidenav>
</section>
<!-- End Tool Bar -->



<md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Place">
        <md-content layout="column">
          <md-content class="md-padding">
            <div>
              <md-card-content>
              <!-- FORM SECTION -->
              <form ng-submit="newplace(newPlace)">
                <p>Please fill the form below to add an event.</p>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Category</label>
                    <md-select ng-model="newplace.category">
                      <md-option ng-repeat="category in categories" value="{{category}}">{{category}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container >
                    <label>Points</label>
                    <md-select ng-model="newplace.points">
                      <md-option ng-repeat="point in points" value="{{point}}">{{point}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container >
                    <label>Area</label>
                    <md-select ng-model="newplace.area">
                      <md-option ng-repeat="area in areas" value="{{area}}">{{area}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Address</label>
                    <input ng-model="newplace.address"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Event Name</label>
                    <input ng-model="newplace.eventName"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Venue Name</label>
                    <input ng-model="newplace.venueName"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container>
                    Select a file<input  name="file" ngf-select="uploadFiles($files)" ng-model="newPlace.image">
                  </md-input-container>
                  <!-- <md-input-container class="md-block" flex-gt-sm>
                    <label>Image</label>
                    <input type="file" ngf-select="uploadFiles($files)"  required ng-model="newEvent.image"> 
                  </md-input-container> -->
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Contact</label>
                    <input ng-model="newplace.contact"></input>
                  </md-input-container>

                </div>
                <md-input-container class="md-block">
                  <label>About</label>
                  <textarea rows="5" md-select-on-focus ng-model="newplace.about"></textarea>
                </md-input-container>
                <h3>Hours</h3>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Monday</label>
                    <input ng-model="newplace.monday"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Tuesday</label>
                    <input ng-model="newplace.tuesday"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Wednesday</label>
                    <input ng-model="newplace.wednesday"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Thursday</label>
                    <input ng-model="newplace.thursday"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Friday</label>
                    <input ng-model="newplace.friday"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Saturday</label>
                    <input ng-model="newplace.saturday"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Sunday</label>
                    <input ng-model="newplace.sunday"></input>
                  </md-input-container>
                </div>
                <div class="md-actions" layout="row" layout-align="end center">
                  <md-button type="submit">
                  Sumbit
                    <md-icon class="material-icons">send</md-icon>
                    <md-tooltip>Submit</md-tooltip>
                  </md-button>
                </div>
              </form> <!-- END FORM SECTION -->
              </md-card-content>
            </div>
          </md-content>
        </md-content>
      </md-tab>
      <md-tab label="Event">
        <md-content layout="column">
          <md-content class="md-padding">
            <div>
              <md-card-content>
              <!-- FORM SECTION -->
              <form ng-submit="newevent(newEvent)">
                <p>Please fill the form below to add an event.</p>
                <div layout-gt-sm="row">
                  <md-input-container>
                    <label>Category</label>
                    <md-select ng-model="newEvent.category">
                      <md-option ng-repeat="category in categories" value="{{category}}">{{category}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container >
                    <label>Points</label>
                    <md-select ng-model="newEvent.points">
                      <md-option ng-repeat="point in points" value="{{point}}">{{point}}</md-option>
                    </md-select>
                  </md-input-container>
                  <md-input-container >
                    <label>Area</label>
                    <md-select ng-model="newEvent.area">
                      <md-option ng-repeat="area in areas" value="{{area}}">{{area}}</md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <input mdc-datetime-picker="" date="false" time="true" type="text" id="time" short-time="true"
                      placeholder="Time" min-date="minDate" format="hh:mm a" ng-model="time" class=" 
                    md-input">
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Address</label>
                    <input ng-model="newEvent.address"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Event Name</label>
                    <input ng-model="newEvent.eventName"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Venue Name</label>
                    <input ng-model="newEvent.venueName"></input>
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container>
                    Select a file<input  name="file" ngf-select="uploadFiles($files)" ng-model="newEvent.image">
                  </md-input-container>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm>
                    <label>Contact</label>
                    <input ng-model="newEvent.contact"></input>
                  </md-input-container>

                </div>
                <md-input-container class="md-block">
                  <label>Description</label>
                  <textarea rows="5" md-select-on-focus ng-model="newEvent.about"></textarea>
                </md-input-container>
                <div class="md-actions" layout="row" layout-align="end center">
                  <md-button type="submit">
                  Sumbit
                    <md-icon class="material-icons">send</md-icon>
                    <md-tooltip>Submit</md-tooltip>
                  </md-button>
                </div>
              </form> <!-- END FORM SECTION -->
              </md-card-content>
            </div>
          </md-content>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>








<!-- 
<md-content layout="column">
  <md-content class="md-padding">
    <div>
      <md-card-content>
        <h2 class="md-title">Add an new admin</h2>
        <br>
        <br>
      <form ng-submit="newAdmin()">
        <h3>Wanna be an admin?</h3>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>user</label>
            <input ng-model="newAdmin.admin"></input>
          </md-input-container>
        </div>
        <div class="md-actions" layout="row" layout-align="end center">
          <md-button type="submit">
          Sumbit
            <md-icon class="material-icons">send</md-icon>
            <md-tooltip>Submit</md-tooltip>
          </md-button>
        </div>
      </form>
      </md-card-content>
    </div>
  </md-content>
</md-content> -->


